In [3]:
# HIDDEN
using DataFrames, Statistics, CategoricalArrays, Missings

# Exercise Solutions

This section contains solutions to the end-of-section exercises found in this book.

## Table of Contents

1. [DataFrames in Julia](#ch01)

<div id="ch01"></div>

### DataFrames in Julia

#### Section 1: DataFrames.jl

**Exercise 1.1.1:** Construct a DataFrame that encodes the following data table:

| Name | Year | Midterm Grade |
|-----|-----|-----|
| Jen | Sophomore | 93 |
| Neil | Junior | 88 |
| Lea | Junior | 86 |
| Richard | Sophomore | 75 |
| Penelope | Sophomore | 78 |

_Hint_: Remember that you can include underscores in symbols using the `:a_b` notation, or you can create a symbol from a string using `Symbol("A String")`.

In [4]:
df_1_1_1 = DataFrame(
    Name = ["Jen", "Neil", "Lea", "Richard", "Penelope"],
    Year = ["Sophomore", "Junior", "Junior", "Sophomore", "Sophomore"],
    Midterm_Grade = [93, 88, 86, 75, 78]
)

5×3 DataFrame
│ Row │ Name     │ Year      │ Midterm_Grade │
│     │ String   │ String    │ Int64         │
├─────┼──────────┼───────────┼───────────────┤
│ 1   │ Jen      │ Sophomore │ 93            │
│ 2   │ Neil     │ Junior    │ 88            │
│ 3   │ Lea      │ Junior    │ 86            │
│ 4   │ Richard  │ Sophomore │ 75            │
│ 5   │ Penelope │ Sophomore │ 78            │

**Exercise 1.1.2:** Create a `DataFrameRow` object that contains Lea's midterm information.

In [5]:
df_1_1_1[3,:]

DataFrameRow
│ Row │ Name   │ Year   │ Midterm_Grade │
│     │ String │ String │ Int64         │
├─────┼────────┼────────┼───────────────┤
│ 3   │ Lea    │ Junior │ 86            │

**Exercise 1.1.3:** Using the function `Statistics.mean`, compute the mean of the midterm scores. Do not hardcode the answer, but use a function which accepts an array.

In [7]:
# # if you need to, import statistics
# using Statistics

mean(df_1_1_1[:Midterm_Grade])

84.0

#### Section 2: Categortical Arrays

**Exercise 1.2.1:** Create a categorical array `arr` for the midterm grades data set from the last set of exericses.

| Name | Year | Midterm Grade |
|-----|-----|-----|
| Jen | Sophomore | 93 |
| Neil | Junior | 88 |
| Lea | Junior | 86 |
| Richard | Sophomore | 75 |
| Penelope | Sophomore | 78 |

In [8]:
arr = CategoricalArray(df_1_1_1[:Year])

5-element CategoricalArray{String,1,UInt32}:
 "Sophomore"
 "Junior"
 "Junior"
 "Sophomore"
 "Sophomore"

**Exercise 1.2.2:** Add two `Freshman` individuals and three `Senior` individuals to the array (in that order). Recall that you can append arrays using the `append!` function.

In [10]:
append!(arr, CategoricalArray(["Freshman", "Freshman", "Senior", "Senior", "Senior"]))

10-element CategoricalArray{String,1,UInt32}:
 "Sophomore"
 "Junior"
 "Junior"
 "Sophomore"
 "Sophomore"
 "Freshman"
 "Freshman"
 "Senior"
 "Senior"
 "Senior"

**Exercise 1.2.3:** Order the levels of the array so that `Freshman` is less than `Sophomore` is less than `Junior` etc.

In [13]:
levels!(arr, ["Freshman", "Sophomore", "Junior", "Senior"])
levels(arr)

4-element Array{String,1}:
 "Freshman"
 "Sophomore"
 "Junior"
 "Senior"

**Exercise 1.2.4:** Test your ordering using `arr[3] > arr[1] == arr[4] > arr[6]`. (This should return `true`.)

In [15]:
ordered!(arr, true)
arr[3] > arr[1] == arr[4] > arr[6]

true